

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%= product.url %>" alt="..."> 
      <div class="caption">
        <a href="product_path(product)" class="image-tile-links"><%= product.name %></a>
        <p><%= product.description %></p>
      </div>
    </div>
  </div>
