

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%= product.url %>" alt="..."> 
      <div class="caption">
      <p class="card-product-link-headers"> <%= link_to product.name, "/products/#{product.id}" %></h3>
       <p><%= product.description %></p>
      </div>
    </div>
  </div>
