<!-- <h1 id="main-title-header">Rainforest Products</h1> -->

<h3><%= link_to "ADD A PRODUCT", new_product_path, :class => "add-product-header"%></h3>
<p class="page-entries"><%= page_entries_info @products %></p>

<div id="products">
	<%= render partial: 'products' %>
</div>

<p><%= paginate @products %></p>
