<!-- <h1 id="main-title-header">Rainforest Products</h1> -->

<div class="underline"></div>

<h3 class="btn-group"><%= link_to "Add a new product", "/products/new" %></h3>
<p><%= page_entries_info @products %></p>

<div id="products">
	<%= render @products %>
</div>

<p><%= paginate @products %></p>
